{% extends './layout.html' %}
{% block con %}
<h1 class="title">用户登录</h1>
    <div id="register" class="form-horizontal">          
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="用户名" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="密码" name="password">
            </div>
        </div>      
        <button id="confirm" class="btn btn-success btn-block" type="button">登录</button>
        
    
        <a href="/register" class="ab">没有账号？点击注册</a>
    </div>
{%endblock%}
{% block css %}
    <link rel="stylesheet" href="/static/seller/css/register.css">
{% endblock %}
{% block js %}
    <script src="/static/seller/js/login.js"></script>
{% endblock %}